/* @import url('https://fonts.googleapis.com/css?family=Handlee'); */

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.main{
  width: 100%;
  height: 100%;
}

.navigation{
  width: 100%;
  height: 70px;
  background-color: black;
  color: #fff;
}

.navigation ul{
  width: 70%;
  height: 100%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigation ul li{
  color: #fff;
}

.navigation ul li a, .navigation ul li a:visited{
  color: #fff;
}

.container{
  width: 100%;
  height: 100%;
}

.main-body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: #fff;
  background-color: transparent;
}

textarea{
  width: 100%;
  height: 300px;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  background-color: #f8f8f8;
  resize: none;
}

#home-page,
#login-page,
#register-page,
#dashboard-page
 {
  background-color: rgba(0,30,253,.07);
  background-blend-mode: multiply;
}

#dbPoems {
  height:651px;
  overflow-y: scroll;
  margin-bottom: 60px;
}

#dailyPoem {
  max-height:651px;
  overflow-y: scroll;
  margin-bottom: 60px;
}
/* width */
#dbPoems::-webkit-scrollbar {
  width: 15px;
}

/* width */
#dailyPoem::-webkit-scrollbar {
  width: 15px;
}

/* Track */
#dbPoems::-webkit-scrollbar-track {
  background: #E7E0FF;
  border-radius: 5px;
}

/* Track */
#dailyPoem::-webkit-scrollbar-track {
  background: #E7E0FF;
  border-radius: 5px;
}

/* Handle */
#dbPoems::-webkit-scrollbar-thumb {
  background: rgb(130, 102, 145);
  border-radius: 5px;
}

/* Handle */
#dailyPoem::-webkit-scrollbar-thumb {
  background: rgb(130, 102, 145);
  border-radius: 5px;
}

/* Handle on hover */
#dbPoems::-webkit-scrollbar-thumb:hover {
  background: #392759;
}

/* Handle on hover */
#dailyPoem::-webkit-scrollbar-thumb:hover {
  background: #392759;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color:  #E7E0FF;
}

form {
  width: 100%;
  /* flex-wrap: wrap; */
}

h1,
.poem-wrapper h2 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder,
textarea::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: rgb(126, 126, 126);
}

.name {
  margin-left: 1%;
}

.name,
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.createAccount,
.postPoem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button,
.postPoem button {
  background-color:#6E2594;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount small {
  color: #020202;
  font-weight: darker;
}

.pwrapper {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-left: 30px;
}

.poem-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #E7E0FF;
}

.title {
  margin-right: 1%;
}

.title{
  display: flex;
  /* flex-direction: column; */
  margin-bottom: 15px;
  width: 634px;
}
.author{
  display: grid;
  /* flex-direction: column; */
  margin-bottom: 15px;
  width: 100%;
}
.poem {
  display: grid;
  /* flex-direction: column; */
  margin-bottom: 15px;
  width: 100%;
}

.createAccount button:hover,
.postPoem button:hover {
  color: #6E2594;
  background-color: #fff;
  border: 2px solid #6E2594;
}

.welcome span {
  color: #6E2594;
}

#home-page,
#register-page,
#login-page,
#dashboard-page {
  background-size: cover;
}

.badge,
.badge-secondary {
  background-color: #1b1ee5;
}

#dashboard-page,
#dbPoems,
#myPoems {
  background-color: "#e7e0ff";
}
