body {
  margin: 0;
  padding: 0;
  font-family: 'Handlee', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
margin-bottom: 20px;
margin-top: 15px;
}

#dailyPoem, #dbPoems, #myPoems {
  white-space: pre-wrap;
}
